a:visited {
    color: #11999E;
}
body {
  margin: 0 0 0 0;
  text-align: center;
  font-family: Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5.5rem;
  margin: 50px auto 0 auto;
  font-family: 'Nixie One', cursive;
  color: #66BFBF;
}

.top-container {
  background-color: #bbe1fa;
  line-height: 2;
}
hr {
  width: 0;
  color: #1b262c;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;

}
h3 {
  color: #11999E;
}
.mountain {
  width: 30%;
  height: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}
.middle-container {
  background-color: #e3fdfd;
}
.skill-row {
  line-height: 2;
  text-align: left;
  margin: 100px auto 100px auto;
  width: 50%
}

.bottom-bar {
  padding-top: 20px;
    background-color: #035aa6;

}

hr {
width: 7%;
border-color: #888888;
  border-width: 7px;
  border-style: dashed;
  border: 3px 0 0 0;
}
.system-cat {
  width: 25%;
  height: auto;
  border-radius: 25px;
  float: left;
  margin-right: 30px;
}

.roadtrip {
  width: 23%;
  height: auto;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  margin-top: 50px;
  position: relative;
  left: 250px;
}

.bottom-cloud {
  position: absolute;
}
html {
  background-color: #035aa6;
}
.contact-me {
      padding-bottom: 50px;
  line-height: 2;
}
.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
